/.DS_Store
/1.png
/1_colored.png
/2.png
/2_colored.png
/3.png
/3_colored.png
/4.png
/4_colored.png
/backg.py
/out.png
/out1.png
/out2.png
/out3.png
/out4.png
/out_colored.png
/output.png
/output_images.zip
/output_images_colored.zip
/outtest.png
/proj.md
/test.JPG
/概述-1.pdf